<main class="section">
<div class="container">
    <div class="block">
        <h1>Social Media</h1>
        <p>A nice social media app!</p>
    </div>
    <div class="block">
        <% if user_signed_in? %>
            <%
=begin%>
 <%= link_to "View posts", community_posts_path, class: "button is-link" %> 
<%
=end%>
        <% else %>
            <%= link_to "Sign in", new_user_session_path, class: "button" %>
        <% end %>
    </div>
    <div class="block">
        <% for community in @communities %>
            <%= link_to community.handle, community_path(community) %>
        <% end %>
    </div>
  </div>
</main>