<div class="comment block">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <div class="column">
              <%= link_to post.caption, post_path(post), data: { turbo: false } %>
          </div>
          <% if post.user == current_user %>
          <div class="column is-narrow">
              <div class="buttons is-right">
                  <%= button_to "Delete",
                              post_path(post),
                              method: :delete,
                              class: 'button is-danger' %>
                  <%= link_to "Edit",
                              edit_post_path(post),
                              class: 'button is-link',
                              data: { turbo: false } %>
              </div>
          </div>
          <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item is-justify-content-flex-end">
      <div class="content">
        <%= render partial: 'posts/voting_block', locals: { post: post } %>
      </div>
      </div>
    </footer>
  </div>
</div>