<main class="section">
  <div class="container">
    <div class="block">
      <div class="columns is-vcentered">
        <% if user_signed_in? %>
          <div class="column is-flex is-justify-content-flex-end">
          <%= link_to "New Post",
                      new_post_path(@community),
                      class: "button is-link" %>
          </div>
        <% end %>
    </div>
    </div>
    <div class="block">
        <h1>c/<%= @community.handle %></h1>
        <h4 class="subtitle is-3"><%= @community.description %></h4>
    </div>
    <div class="block">
      <%= render @community.posts %>
    </div>
  </div>
</main>